[Unit]
Description=Quicktable

[Service]
Type=simple
ExecStart=/usr/local/bin/quicktable
Restart=always
Environment="ADDR=:8080"
Environment="DIR=/var/lib/quicktable/"

[Install]
WantedBy=multi-user.target